/* nav styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* header */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    
}
nav{
    display: flex;
    font-family: Open Sans;
    align-items: center;
    justify-content: space-between;
    margin: 43px 195px;
}

.nav-title{
    font-weight: 800;
    font-size: 38px;
}
/* shared style */
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 15px 29px;
    border-radius: 5px;
    font-size: 17px;
    border: none;
}
.section-title{
    font-size: 29px;
    font-weight: bold;
    color: #181818;
}

.section-description{
    font-size: 15px;
    color: #757575;
}

.dark-2{
    color: #474747;
}


nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 43px;
}

nav li a{
    text-decoration: none;
    font-size: 17px;
}

/* banner styles */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 31px 0 196px;
    align-items: center;
}
.banner-content{
    max-width: 497px;
}
.banner-greetings{
    font-weight: 600;
    font-size: 38px;
}

.banner-title{
    font-weight: bold;
    font-size: 72px;
}

.banner-description{
    color: #757575;
    font-size: 15px;
}
.banner-profile-pic{
    width: 496px;
    height: 574px;
}

/* main styles */
main{
    max-width: 969px;
    margin: 0 auto;
}
main section{
    margin: 110px 0px;
}

/* about styles */
.about{
    border-radius: 8px;
    padding: 110px 132px;
    text-align: center;
    
}

.about-items{
    display: flex;
    justify-content: space-around;
}

.item-description{
    font-weight: bold;
}

/* skills section */

.text-align1{
    text-align: center;
    margin-bottom: 25px;
    margin-top: 110px;  
}
.text-align2{
    text-align: center;
    margin-bottom: 42px;  
    font-size: 15px;
    
}
.skills-container{
    display: flex;
    gap: 24px;
}

.skill{
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}